<!Doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Testy Flaka</title>
</head>
<body>
  <h1>{{ city }}</h1>
  <h1>temp: {{ temp }}</h1>
  <h2>desc: {{ desc }}</h2>
<form action="." method="POST">
  <select name="lang">
    <option value="FR">FR</option>
    <option value="DE">DE</option>
    <option value="CZ">CZ</option>
    <option value="ES">ES</option>
    <option value="IT">IT</option>
    <option value="TR">TR</option>

  </select>
  <input type="submit" name="my_form" value="Send">
</form>
  
</body>
</html>
